@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(217, 12%, 63%);
    --medium-gray: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;    
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    min-height: 100%;
    background-color: var(--very-dark-blue);
    place-items: center;
    font-family: 'Overpass', sans-serif;
}

#mainContainer {
    width: 30rem;
    height: fit-content;
    min-height: 30rem;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    background-image: linear-gradient(180deg, #171E28, #222933);
    border-radius: 5%;
    padding: 2rem;
}

#ratingContainer {
    background-color: #242E3C;
    width: fit-content;
    min-width: 5rem;
    height: 2rem;
    display: grid;
    place-items: center;
    color: hsla(25, 97%, 53%, 0.853);
    padding: 0 1rem;
    border-radius: 1rem;
}

h2 {
    margin: 0;
    font-weight: 400;
    font-size: medium;
}

h1 {
    color: var(--white);
    font-weight: 700;
}

p {
    color: #949BA5;
    font-size: large;
    font-weight: 400;
    text-align: center;
}

@media (max-width: 500px) {
    #mainContainer {
        width: 25rem;
    }
}

@media (max-width: 400px) {
    #mainContainer {
        width: 20rem;
    }
}