@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --very-dark-desaturated-blue: 45 50 72;
        --dark-grayish-blue: 106 111 129;
        --dark-cyan: 25 162 174;
        --dark-gray: 150 150 150;
    }
}